table{
    background-color: transparent;
    border: solid 5px brown;
    padding: 10px;
}
th{
    background-color: aqua;
    border: solid 2px blue;
    padding: 5px;
}

td{
    background-color: rgb(180, 103, 190);
    border: solid 2px white;
    padding: 5px;
    color: white;
    text-align: center;
}

